{% extends "home/base.html" %}
{% block title %}Guess My Gesture End{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guess_my_gesture.css') }}">
{% endblock %}
{% block content %}
<div class="container-result">
    <h1 class="result-title">{{ final_text }}</h1>
    <div class="buttons">
        <button class="button" onclick="location.href='{{ url_for('game.start_game_gesture') }}'">Play Again</button>
        <button class="button" onclick="location.href='{{ url_for('home.choose_game') }}'">Choose Game</button>
    </div>
</div>
<script>
    function fetchASRSentence() {
        fetch('/get_asr_sentence') // Response is a simple string
            .then(response => response.text())
            .then(data => {
                if (data) {
                    if (data === 'Play Again') {
                        window.location.href = "{{ url_for('game.start_game_gesture') }}";
                    } else if (data === 'Choose Game') {
                        window.location.href = "{{ url_for('home.choose_game') }}";
                    }
                }
            });
    }
    setInterval(fetchASRSentence, 1500);
</script>
{% endblock %}
