{% extends "home/base.html" %}
{% block title %}Guess My Gesture{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guess_my_gesture.css') }}">
{% endblock %}
{% block content %}
{% if playing_gesture %}
<div class="interround-container" id="interround-container" style="display: none;">
    <div class="interround-heading" id="interround-gametext">
        <p id="interround-move-text">Inter Round</p>
    </div>
    <div class="interround-text">
        <p>Get ready for the next round!</p>
    </div>
</div>
{% endif %}
<div class="container-whole" id="container-whole">
    <div class="container">
        <h1 class="title" id="heading-text">Guess My Gesture</h1>
        <div class="video-container">
            <img src="{{ url_for('game.video_feed_gesture') }}" class="video-feed">
        </div>
        {% if playing_gesture %}
            
            <div class="status-container">
                <div class="status-left">
                    <div class="gamestat">
                        <p id="instant-player-move">Instant Gesture: </p>
                    </div>
                    <div class="gamestat">
                        <p id="average-player-move">Current Gesture: </p>
                    </div>
                </div>
                <div class="status-right">
                    <div class="gamestat">
                        <p id="current-round">Round: </p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="buttons">
                <button class="button" onclick="location.href='{{ url_for('game.start_game_gesture') }}'">Start Game</button>
                <button class="button" onclick="location.href='{{ url_for('home.choose_game') }}'">Go Back</button>
            </div>
        {% endif %}
    </div>

</div>


{% if playing_gesture %}
<script>
    function fetchGameStatus() {
        fetch('/get_game_status_gesture')
            .then(response => response.json())
            .then(data => {
                document.getElementById('instant-player-move').innerText = 'Instant Player Move: ' + data.instant_player_move;
                document.getElementById('average-player-move').innerText = 'Current Player Move: ' + data.player_move;
                document.getElementById('heading-text').innerText = data.game_text;
                document.getElementById('current-round').innerText = 'Round: ' + data.current_round + '/' + data.total_rounds;

                // Show or hide interround-container based on inter_round_paused
                const interroundContainer = document.getElementById('interround-container');
                const containerWhole = document.getElementById('container-whole');
                if (data.inter_round_paused) {

                    // Update interround move text
                    document.getElementById('interround-move-text').innerText = 'Player Gesture: ' + data.player_move;
                  
                    interroundContainer.style.display = 'flex';

                    // Add blur class to container-whole
                    containerWhole.classList.add('blur');
                    
                } else {
                    interroundContainer.style.display = 'none';
                    
                    // Remove blur class from container-whole
                    containerWhole.classList.remove('blur');
                }

                if (data.over_gesture === true) {
                    location.href = '/gesture_end';
                }

                // Based on current_round, change the background of the whole page
                switch (data.current_round) {
                    case 0:
                        document.body.style.backgroundColor = '#060079';
                        break;
                    case 1:
                        document.body.style.backgroundColor = '#3b0835';
                        break;
                    case 2:
                        document.body.style.backgroundColor = '#3b080c';
                        break;
                    case 3:
                        document.body.style.backgroundColor = '#083b14';
                        break;
                    case 4:
                        document.body.style.backgroundColor = '#3b3708';
                        break;
                }

            });
    }

    setInterval(fetchGameStatus, 500);
</script>
{% endif %}

{% if not playing_gesture %}
<script>
    function fetchASRSentence() {
        fetch('/get_asr_sentence') // Response is a simple string
            .then(response => response.text())
            .then(data => {
                if (data) {
                    if (data === 'Start') {
                        window.location.href = "{{ url_for('game.start_game_gesture') }}";
                    } else if (data === 'Go Back') {
                        window.location.href = "{{ url_for('home.choose_game') }}";
                    }
                }
            });
    }
    setInterval(fetchASRSentence, 1500);
</script>
{% endif %}
{% endblock %}
