body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container-whole {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 800px;
}

.title {
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-top: 20px;
    color: aliceblue;
}

.video-container {
    margin-bottom: 20px;
}

.video-feed {
    width: 800px;
    height: 600px;
    border-radius: 10px;
}

.status-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.status-left, .status-right {
    font-size: 1.5em;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.status-left {
    text-align: left;
    align-items: flex-start;
    row-gap: 15px;
}

.status-right {
    text-align: right;
    align-items: flex-end;
    row-gap: 15px;
}

.gamestat {
    font-size: 0.9em;
    color: darkblue;
    background-color: aliceblue;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
}

.gamestat p {
    margin: 0;
    padding: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
}
.button {
    font-size: 1.8em;
    padding: 40px 40px;
    background-color: #efefef;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.container-result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}

.result {
    font-size: 1.5em;
    color: aliceblue;
    width: 75%;
    border-radius: 10px;
    padding: 5px;
}

.result-title {
    font-size: 2em;
    color: aliceblue;
    margin-bottom: 30px;
}

.button-result {
    margin-top: 30px;
    font-size: 2em;
    padding: 50px 50px;
    background-color: #efefef;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button-result:hover {
    background-color: #0056b3;
}

.interround-container {
    position: fixed; /* Fixed positioning to stay on top */
    top: 0; /* Top of the page */
    left: 0; /* Left of the page */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000; /* High z-index to stay on top of other elements */
    display: flex; /* Flexbox to center content */
    flex-direction: column; /* Column layout */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.interround-container .interround-text {
    color: white; /* White text */
    font-size: 2em; /* Larger text */
    text-align: center; /* Center text */
}

.interround-container .interround-heading {
    font-size: 3.5em; /* Larger heading */
    font-weight: bold; /* Bold text */
    color: white; /* White text */
    margin-bottom: 40px; /* Space between heading and text */
    text-align: center; /* Center text */
}


.interround-container .move-img {
    width: 190px; 
    height: 230px; 
    border: 2px solid white;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
}

.container-whole.blur {
    filter: blur(5px); /* Apply blur to the whole page */
    -webkit-filter: blur(5px); /* Apply blur in WebKit browsers */
}
