{% extends "home/base.html" %}
{% block title %}What is your Information{% endblock %}
{% block styles%} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/getinfo.css') }}">
{% endblock %}
{% block content %}
<div class="form-container">
    <h1 class="form-title">Enter Your Information</h1>
    <form method="POST" action="{{ url_for('home.getinfo') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-input") }}
        </div>
        <div class="form-group">
            {{ form.age.label(class="form-label") }}
            {{ form.age(class="form-input") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="form-button") }}
        </div>
    </form>
</div>

<script>
    function fetchASRSentence() {
        fetch('/get_asr_sentence') // Response is a simple string
            .then(response => response.text())
            .then(data => {
                if (data) {
                    // If data contains Name: and Age: then submit the form. Take out ","
                    if (data.includes('Name: ') && data.includes('Age: ')) {
                        let name = data.split('Name: ')[1].split('Age: ')[0].replace(',', '');
                        let age = data.split('Age: ')[1].replace(',', '');

                        document.querySelector('input[name="name"]').value = name;
                        document.querySelector('input[name="age"]').value = age;
                        document.querySelector('.form-button').click();
                    }
                }
            });
    }
    setInterval(fetchASRSentence, 1500);
</script>

{% endblock %}
